---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: runzero-explorer
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/wipash/runzero
      tag: latest@sha256:3fa0b2fc2259485660e27f8e70e05701077bb48c2e87e274242d630b73db62b6
    env:
      TZ: Pacific/Auckland
      RUMBLE_AGENT_LOG_DEBUG: false
    envFrom:
      - secretRef:
          name: runzero-explorer-secret
    service:
      main:
        enabled: false
    securityContext:
      privileged: true
    ingress:
      main:
        enabled: false
    resources:
      requests:
        cpu: 125m
      limits:
        memory: 1790M
