---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-machine-learning
spec:
  chartRef:
    kind: OCIRepository
    name: immich-machine-learning
  interval: 1h
  dependsOn:
    - name: immich-server
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [65537]
        seccompProfile: { type: RuntimeDefault }
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: google.feature.node.kubernetes.io/coral
                      operator: In
                      values: ["true"]
                topologyKey: kubernetes.io/hostname
    controllers:
      immichml:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.3@sha256:fa843f76cd34795ce8ca133d2c62ad67aa082b0f90b578ce7878210dcb5ad536
            env:
              TZ: Pacific/Auckland
              IMMICH_MEDIA_LOCATION: &mediaLocation /usr/src/app/upload
              IMMICH_HOST: 0.0.0.0
              IMMICH_PORT: &port 3003
              MACHINE_LEARNING_CACHE_FOLDER: /cache
              TRANSFORMERS_CACHE: /cache
              MPLCONFIGDIR: /cache/matplotlib
              REDIS_HOSTNAME: dragonfly.database.svc.cluster.local
              REDIS_DBINDEX: "3"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 1000M
              limits:
                memory: 2500M
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: false
        pod:
          enableServiceLinks: false
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: "{{ .Release.Name }}"
    service:
      app:
        ports:
          http:
            port: *port
    persistence:
      library:
        existingClaim: immich-nfs
        globalMounts:
          - path: *mediaLocation
      cache:
        type: persistentVolumeClaim
        existingClaim: immich-machine-learning-cache
        globalMounts:
          - path: /cache
            subPath: cache
          - path: /.cache
            subPath: dotCache
      geocoding-dump:
        type: emptyDir
        globalMounts:
          - path: /usr/src/app/.reverse-geocoding-dump
      transformers-cache:
        type: emptyDir
        globalMounts:
          - path: /usr/src/app/.transformers_cache
      tmp:
        type: emptyDir
