---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: harvco-sensor-hub-frontend
  namespace: default
spec:
  chartRef:
    kind: OCIRepository
    name: harvco-sensor-hub-frontend
  interval: 1h
  values:
    controllers:
      frontend:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/wipash/harvco-temps-frontend
              tag: latest@sha256:ee27346d01216af7db3e3b7b7c2f811c3bd5e097f74e2a9470cf1c29059f3837
            env:
              TZ: Pacific/Auckland
              NEXT_PUBLIC_API_URL: https://sensorapi.${SECRET_DOMAIN_HARVCO}
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 100Mi

        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: "{{ .Release.Name }}"

    defaultPodOptions:
      imagePullSecrets:
        - name: ghcr-imagepullsecret
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000

    service:
      app:
        ports:
          http:
            port: *port

    ingress:
      app:
        className: external
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: &host sensors.${SECRET_DOMAIN_HARVCO}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: harvco-sensor-hub-frontend-tls

    persistence:
      tmp:
        type: emptyDir
