---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: node-red
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: node-red-secret

    template:
      engineVersion: v2
      data:
        NODE_RED_CREDENTIAL_SECRET: "{{ .NODE_RED_CREDENTIAL_SECRET }}"
        NODERED_OAUTH_CLIENT_SECRET: "{{ .NODERED_OAUTH_CLIENT_SECRET }}"
        NODERED_OAUTH_CLIENT_ID: nodered

  dataFrom:
    - extract:
        key: node-red
    - extract:
        key: authelia
