---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflare-ddns
spec:
  chartRef:
    kind: OCIRepository
    name: cloudflare-ddns
  interval: 1h
  values:
    controllers:
      cloudflare-ddns:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/larivierec/cloudflare-ddns
              tag: v1.2.1@sha256:1f80ff4a8088650f9ad8c53836d7a67c14f11dd441e9158f8c537685994d6750
            args:
              - --zone-name
              - dont.ltd
              - --record-name
              - plz.dont.ltd
              - --provider
              - random
            env:
              TZ: Pacific/Auckland
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/alive
                    port: &healthPort 8080
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/ready
                    port: *healthPort
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                memory: 64Mi
                cpu: 10m
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 9000
          health:
            port: *healthPort
    serviceMonitor:
      app:
        endpoints:
          - port: health
            scheme: http
            path: /metrics
            interval: 30s
            scrapeTimeout: 30s
    persistence:
      tmp:
        type: emptyDir
