---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smokeping
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/linuxserver/smokeping
      tag: 2.8.2
    initContainers:
      01-init-config:
        image: ghcr.io/onedr0p/alpine:3.19.1@sha256:3fbc581cb0fe29830376161ae026e2a765dcc11e1747477fe9ebf155720b8638
        imagePullPolicy: IfNotPresent
        command: ["/bin/sh", "-c"]
        args: ["cp /configmap/* /config"]
        volumeMounts:
          - name: configfiles
            mountPath: /configmap
          - name: config
            mountPath: /config
    env:
      TZ: ${TIMEZONE}
      PUID: "1000"
      PGID: "1000"
    service:
      main:
        ports:
          http:
            port: &port 80
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.mcgrath.nz"
          hajimari.io/icon: mdi:table-tennis
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Smokeping
          gethomepage.dev/icon: mdi-table-tennis
          gethomepage.dev/group: Infrastructure
        hosts:
          - host: &host "ping.mcgrath.nz"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    volumeClaimTemplates:
      - name: data
        mountPath: /data
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block
    persistence:
      config:
        enabled: true
        type: emptyDir
        mountPath: /config
      configfiles:
        enabled: true
        type: configMap
        name: smokeping-configmap
        mountPath: "-"
    resources:
      requests:
        cpu: 15m
      limits:
        memory: 144M
