---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: readarr
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/onedr0p/readarr-nightly
      tag: 0.3.19.2424@sha256:b833d014be60f027e5cc181ce13578dce81b045cdc0200a830c3582c305c9c0b
    env:
      TZ: Pacific/Auckland
      READARR__INSTANCE_NAME: Readarr
      READARR__PORT: &port 80
      READARR__LOG_LEVEL: info
    envFrom:
      - secretRef:
          name: readarr-secret
    service:
      main:
        ports:
          http:
            port: *port
    dnsConfig:
      options:
        - name: ndots
          value: "1"
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: |
            10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,100.64.0.0/10
          hajimari.io/icon: mdi:headphones
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Readarr
          gethomepage.dev/icon: mdi-headphones
          gethomepage.dev/group: Apps
        hosts:
          - host: &host "{{ .Release.Name }}.mcgrath.nz"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
      supplementalGroups: [65537]
    volumeClaimTemplates:
      - name: config
        mountPath: /config
        accessMode: ReadWriteOnce
        size: 10Gi
        storageClass: ceph-block
    persistence:
      media:
        enabled: true
        type: nfs
        server: 172.20.0.1
        path: /volume1/Media
        mountPath: /media
    resources:
      requests:
        cpu: 15m
        memory: 272M
      limits:
        cpu: 16m
        memory: 413M
