---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app openproject
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      openproject:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16
            envFrom: &envFrom
              - secretRef:
                  name: openproject-secret

          rails-migrate:
            dependsOn: init-db
            image: &image
              repository: docker.io/openproject/community
              tag: 13.4.1-slim@sha256:9545a03c90454a481d1330bcd1133dd3688a7c6d08ca43ea7fe068b51897f280
            envFrom: *envFrom
            command:
              - bin/rails
            args:
              - "db:migrate"
              - "RAILS_ENV=production"

        containers:
          app:
            image: *image
            env:
              OPENPROJECT_EMAIL__DELIVERY__METHOD: smtp
              OPENPROJECT_SMTP__ADDRESS: smtp-relay.default.svc.cluster.local
              OPENPROJECT_SMTP__PORT: 25
              OPENPROJECT_SMTP__DOMAIN: mail.mcgrath.nz
              OPENPROJECT_SMTP__AUTHENTICATION: none
              OPENPROJECT_SMTP__SSL: "false"
              OPENPROJECT_MAIL__FROM: project@mail.mcgrath.nz
              OPENPROJECT_HTTPS: "true"
              OPENPROJECT_HSTS: "true"
              OPENPROJECT_HOST__NAME: &host project.mcgrath.nz
              OPENPROJECT_SOFTWARE__NAME: McGrath Projects
              OPENPROJECT_SOFTWARE__URL: https://project.mcgrath.nz
              OPENPROJECT_CACHE__MEMCACHE__SERVER: openproject-memcached.default.svc.cluster.local:11211
              #OPENPROJECT_AVAILABLE__LANGUAGES: en
              OPENPROJECT_DEFAULT__LANGUAGE: en
              OPENPROJECT_RAILS__CACHE__STORE: memcache
              OPENPROJECT_SEED__ADMIN__USER__MAIL: sean@mcgrath.nz
              OPENPROJECT_SEED__ADMIN__USER__PASSWORD__RESET: "false"
              POSTGRES_STATEMENT_TIMEOUT: 120
              OPENPROJECT_BOARDS__DEMO__DATA__AVAILABLE: "false"
              #OPENPROJECT_PLUGIN__COSTS: '{"costs_currency"=>"NZD", "costs_currency_format"=>"%n %u"}'
            envFrom: *envFrom
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 250m
                memory: 512Mi
              limits:
                memory: 4Gi

    service:
      app:
        controller: openproject
        ports:
          http:
            port: 8080
    ingress:
      app:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.mcgrath.nz
          nginx.ingress.kubernetes.io/proxy-body-size: 4G
          nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /var/openproject
      config:
        type: configMap
        name: openproject-configmap
        globalMounts:
          - path: /app/app/models/enterprise_token.rb
            subPath: enterprise_token.rb
            readOnly: true
