---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cups
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/drpsychick/airprint-bridge
              tag: latest@sha256:e1827c377151b7fbe0f7919b79704f4ce6da889728f38a29c0c8cfcb10310d46
            env:
              TZ: "${TIMEZONE}"
              CUPS_ADMIN_USER: print
              CUPS_ADMIN_PASSWORD: print
              CUPS_WEBINTERFACE: "yes"
              CUPS_SHARE_PRINTERS: "yes"
              CUPS_REMOTE_ADMIN: "yes"
              CUPS_ACCESS_LOGLEVEL: config
              CUPS_LOGLEVEL: info
              CUPS_ENV_DEBUG: "no"
              CUPS_HOSTNAME: printer.mcgrath.nz

              CUPS_LPADMIN_PRINTERCONFIG: cupsctl ServerAlias=cups.mcgrath.nz


            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 631
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 512Mi

        pod:
          nodeSelector:
            kubernetes.io/hostname: hp1
            # printer.feature.node.kubernetes.io/docuprint: "true"

    service:
      app:
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          io.cilium/lb-ipam-ips: "${SVC_CUPS_ADDR:=temp}" # Default value to make flux-local work
          external-dns.alpha.kubernetes.io/hostname: "printer.mcgrath.nz"
        controller: *app
        ports:
          http:
            port: *port
          udp:
            port: *port
            protocol: UDP

    ingress:
      app:
        className: internal
        hosts:
          - host: cups.mcgrath.nz
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      dbus:
        type: hostPath
        hostPath: /var/run/dbus
        globalMounts:
          - path: /var/run/dbus
      usb:
        type: hostPath
        hostPath: /dev/bus/usb
        globalMounts:
          - path: /dev/bus/usb
