---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app shlink-web
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      replicas: 2
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/shlinkio/shlink-web-client
      tag: 4.0.1
    env:
      SHLINK_SERVER_URL: https://ln.${SECRET_DOMAIN_2}
    envFrom:
      - secretRef:
          name: shlink-secret
    service:
      main:
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          hajimari.io/icon: mdi:link
          external-dns.alpha.kubernetes.io/target: "external.mcgrath.nz"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Shlink
          gethomepage.dev/icon: mdi-link
          gethomepage.dev/group: Apps
        hosts:
          - host: &host shlink.mcgrath.nz
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
    resources:
      requests:
        cpu: 15m
        memory: 64M
      limits:
        cpu: 16m
        memory: 64M
