---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: bazarr
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
    image:
      repository: ghcr.io/onedr0p/bazarr
      tag: 1.4.2@sha256:07af48c360098a2aa4b4d971fa14a93761459fbf8a8f1901e572826106a74bcd
    env:
      TZ: Pacific/Auckland
    service:
      main:
        ports:
          http:
            port: 6767
    dnsConfig:
      options:
        - name: ndots
          value: "1"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: |
            10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,100.64.0.0/10
          hajimari.io/icon: mdi:subtitles-outline
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Bazarr
          gethomepage.dev/icon: mdi-subtitles-outline
          gethomepage.dev/group: Media Acquisition
        hosts:
          - host: &host "{{ .Release.Name }}.mcgrath.nz"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
      supplementalGroups: [65537]
    volumeClaimTemplates:
      - name: config
        mountPath: /config
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block
    persistence:
      media:
        enabled: true
        type: nfs
        server: 172.20.0.1
        path: /volume1/Media
        mountPath: /media
      add-ons:
        enabled: true
        type: emptyDir
        mountPath: /add-ons
    resources:
      requests:
        cpu: 10m
        memory: 476M
      limits:
        cpu: 165m
        memory: 722M
    sidecars:
      subcleaner:
        image: registry.k8s.io/git-sync/git-sync:v4.2.1
        imagePullPolicy: IfNotPresent
        args:
          - --repo=https://github.com/KBlixt/subcleaner.git
          - --branch=master
          - --depth=1
          - --wait=21600 # 6 hours
          - --root=/add-ons/subcleaner
        volumeMounts:
          - { name: add-ons, mountPath: /add-ons }
        resources:
          requests:
            cpu: 10m
            memory: 37M
          limits:
            cpu: 16m
            memory: 55M
