---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bazarr
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      bazarr:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          enableServiceLinks: false
          securityContext:
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups: [65537]

        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/bazarr
              tag: 1.4.2@sha256:7f152a7b8f46707f5feb68a315d8989cb85ed9e8b6868608f80e6f5eb6cc2e8e
            env:
              TZ: Pacific/Auckland
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              runAsUser: 568
              runAsGroup: 568
              runAsNonRoot: true
              capabilities: { drop: ["ALL"] }

          subcleaner:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.2.3
            args:
              - --repo=https://github.com/KBlixt/subcleaner.git
              - --branch=master
              - --depth=1
              - --wait=21600 # 6 hours
              - --root=/add-ons/subcleaner

            securityContext:
              allowPrivilegeEscalation: false
              runAsUser: 568
              runAsGroup: 568
              runAsNonRoot: true
              capabilities: { drop: ["ALL"] }


    service:
      app:
        controller: bazarr
        ports:
          http:
            port: 6767

    ingress:
      app:
        className: internal
        annotations:
          hajimari.io/icon: mdi:subtitles-outline
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Bazarr
          gethomepage.dev/icon: mdi-subtitles-outline
          gethomepage.dev/group: Media Acquisition
        hosts:
          - host: &host bazarr.mcgrath.nz
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      media:
        type: nfs
        server: 172.20.0.1
        path: /volume1/Media
        globalMounts:
          - path: /media
      add-ons:
        type: emptyDir
        globalMounts:
          - path: /add-ons
