---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ghost
spec:
  chartRef:
    kind: OCIRepository
    name: ghost
  interval: 1h
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync
    - name: ghost-mariadb
      namespace: default
  values:
    controllers:
      ghost:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghost
              tag: 6.12.0
            env:
              TZ: Pacific/Auckland
              url: "https://${SECRET_GHOST_DOMAIN}"
              database__client: mysql
              database__connection__host: ghost-mariadb.default.svc.cluster.local
              database__connection__user: ghost
              database__connection__database: ghost
              NODE_ENV: production
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 2368
    ingress:
      app:
        className: external
        hosts:
          - host: &host ${SECRET_GHOST_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts: [*host]
            secretName: ghost-tls
    persistence:
      content:
        globalMounts:
          - path: /var/lib/ghost/content
        existingClaim: "{{ .Release.Name }}"
      tmp:
        type: emptyDir
