---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cloudflare-ddns
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      cloudflare-ddns:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/larivierec/cloudflare-ddns
              tag: v1.1.2@sha256:770dd8d8aa1093e5b50654cbd6f0a03f2d18e69aba9fa3c14c526c435e352433
            args:
              - --zone-name
              - dont.ltd
              - --record-name
              - plz.dont.ltd
              - --provider
              - random
            envFrom:
              - secretRef:
                  name: cloudflare-ddns-secret
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/alive
                    port: &healthPort 8080
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/ready
                    port: *healthPort
            resources:
              requests:
                memory: 64Mi
                cpu: 10m
              limits:
                memory: 128Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 9000
          health:
            port: *healthPort
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: health
            scheme: http
            path: /metrics
            interval: 30s
            scrapeTimeout: 30s
