---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname harvco-ghcr-imagepullsecret
  namespace: flux-system
spec:
  targetNamespace: harvco
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./kubernetes/apps/harvco/ghcr-imagepullsecret/secret"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-cluster
