---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: shlink
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: shlink-secret
    template:
      engineVersion: v2
      data:
        # App
        DB_NAME: &dbname shlink
        DB_HOST: &dbhost postgres16-rw.default.svc.cluster.local
        DB_USER: "{{ .DB_USER }}"
        DB_PASSWORD: "{{ .DB_PASSWORD }}"
        DB_DRIVER: postgres
        GEOLITE_LICENSE_KEY: "{{ .GEOLITE_LICENSE_KEY }}"
        SHLINK_SERVER_API_KEY: "{{ .api_key }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbname
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_USER: "{{ .DB_USER }}"
        INIT_POSTGRES_PASS: "{{ .DB_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: shlink
    - extract:
        key: cloudnative-pg
