---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app searxng
  namespace: selfhosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      fullNameOverride: *app

    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app

    controllers:
      searxng:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: 'true'
        pod:
          annotations:
            setGateway: "true"
        containers:
          app:
            image:
              repository: searxng/searxng
              tag: 2024.3.29-f5bb64cca
            env:
              TZ: Pacific/Auckland
              SEARXNG_BASE_URL: https://search.mcgrath.nz
              SEARXNG_URL: https://search.mcgrath.nz
              SEARXNG_PORT: &http "8080"
              SEARXNG_REDIS_URL: dragonfly.database.svc.cluster.local:6379/1
            envFrom:
              - secretRef:
                  name: searxng-secret

    service:
      app:
        controller: *app
        ports:
          http:
            port: *http

    ingress:
      app:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.mcgrath.nz"
        hosts:
          - host: &host search.mcgrath.nz
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: *host
            hosts:
              - *host

    persistence:
      config:
        enabled: true
        type: configMap
        name: *app
        advancedMounts:
          searxng:
            app:
              - path: /etc/searxng/settings.yml
                subPath: settings.yml
      tmp:
        enabled: true
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /etc/searxng
