---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/nfd.k8s-sigs.io/nodefeaturerule_v1alpha1.json
apiVersion: nfd.k8s-sigs.io/v1alpha1
kind: NodeFeatureRule
metadata:
  name: sonoff-zigbee-device
spec:
  rules:
    - # ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2
      name: sonoff.zigbee
      labels:
        sonoff.feature.node.kubernetes.io/zigbee: "true"
      matchFeatures:
        - feature: usb.device
          matchExpressions:
            class: { op: In, value: ["02"] }
            vendor: { op: In, value: ["1a6e"] }
            device: { op: In, value: ["55d4"] }
