---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: frigate
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: frigate-secret
    template:
      engineVersion: v2
      data:
        FRIGATE_MQTT_USERNAME: "{{ .X_EMQX_MQTT_USERNAME }}"
        FRIGATE_MQTT_PASSWORD: "{{ .X_EMQX_MQTT_PASSWORD }}"
        PLUS_API_KEY: "{{ .PLUS_API_KEY }}"
        FRIGATE_CAMERA_PASSWORD: "{{ .FRIGATE_CAMERA_PASSWORD }}"
        FRIGATE_OPENAI_API_KEY: "{{ .FRIGATE_OPENAI_API_KEY }}"
  dataFrom:
    - extract:
        # PLUS_API_KEY, FRIGATE_CAMERA_PASSWORD
        key: frigate
    - extract:
        key: emqx
