---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: harvco-sensor-hub-mosquitto
  namespace: flux-system
spec:
  targetNamespace: harvco
  dependsOn:
    - name: external-secrets-stores
  path: ./kubernetes/main/apps/harvco/harvco-sensor-hub/mosquitto
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-cluster
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m

---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: harvco-sensor-hub-frontend
  namespace: flux-system
spec:
  targetNamespace: harvco
  path: ./kubernetes/main/apps/harvco/harvco-sensor-hub/frontend
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-cluster
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
