---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: harvco-sensor-hub-ingestor
  namespace: default
spec:
  chartRef:
    kind: OCIRepository
    name: harvco-sensor-hub-ingestor
  interval: 1h
  values:

    controllers:
      ingestor:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16
            envFrom: &envFrom
              - secretRef:
                  name: harvco-sensor-hub-ingestor-secret

        containers:
          app:
            image:
              repository: ghcr.io/wipash/harvco-temps-ingestion
              tag: latest@sha256:18b1a2337d574590d3b3e8091ce4a43efd791e33b2b768ad9fecb0f57eb0e22d
            envFrom: *envFrom
            env:
              TZ: Pacific/Auckland
              LOG_LEVEL: debug
            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
              startup:
                enabled: false
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 100Mi

        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: "{{ .Release.Name }}"

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
      imagePullSecrets:
        - name: ghcr-imagepullsecret

    persistence:
      tmp:
        type: emptyDir
