---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: harvco-sensor-hub-api
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: harvco-sensor-hub-api-secret
    template:
      engineVersion: v2
      data:
        SECRET_KEY: "{{ .JWT_SECRET }}"
        DATABASE_URL: |-
          postgresql+asyncpg://{{ .POSTGRES_USER }}:{{ .POSTGRES_PASS }}@postgres16-rw.database.svc.cluster.local/harvcosensors
        INIT_POSTGRES_DBNAME: harvcosensors
        INIT_POSTGRES_HOST: postgres16-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: harvco-sensor-hub-api
    - extract:
        key: cloudnative-pg
