---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sparkleandspin-backend
spec:
  chartRef:
    kind: OCIRepository
    name: sparkleandspin-backend
  interval: 1h
  values:
    defaultPodOptions:
      imagePullSecrets:
        - name: ghcr-imagepullsecret
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      sparkleandspin-backend:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: sparkleandspin-backend-secret
        containers:
          app:
            image:
              repository: ghcr.io/wipash/sparkleandspin-backend
              tag: latest
              pullPolicy: Always
            envFrom: *envFrom
            env:
              TZ: Pacific/Auckland
              DATABASE_TYPE: postgres
              STORE_CORS: http://localhost:8000,http://localhost:7001,https://${SECRET_DOMAIN_SPARKLE}
              ADMIN_CORS: /mcgrath\.nz$/
              REDIS_URL: redis://dragonfly.database.svc.cluster.local:6379/6
              MEDUSA_FF_PRODUCT_CATEGORIES: "true"
              NODE_ENV: production
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 15m
              limits:
                memory: 512M
        pod:
          enableServiceLinks: false

    service:
      app:
        ports:
          http:
            port: 9000

    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /.config/medusa
      cache:
        type: emptyDir
        globalMounts:
          - path: /app/medusa/.cache
      uploads:
        type: emptyDir
        globalMounts:
          - path: /app/medusa/uploads
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp

    ingress:
      app:
        className: external
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 404"]
        hosts:
          - host: &host "api.${SECRET_DOMAIN_SPARKLE}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: wildcard-tls-sparkle
            hosts:
              - *host
