---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: sparkleandspin-backend
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    defaultPodOptions:
      imagePullSecrets:
        - name: ghcr-imagepullsecret

    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"

        # pod:
        #   enableServiceLinks: false
        #   securityContext:
        #     runAsUser: ${APP_UID}
        #     runAsGroup: ${APP_GID}
        #     fsGroup: ${APP_GID}
        #     fsGroupChangePolicy: "OnRootMismatch"

        containers:
          main:
            image:
              repository: ghcr.io/wipash/sparkleandspin-backend
              tag: latest
            envFrom:
              - secretRef:
                  name: sparkleandspin-backend-secret
            env:
              DATABASE_TYPE: postgres
              STORE_CORS: http://localhost:8000,http://localhost:7001
              ADMIN_CORS: /mcgrath\.nz$/
              REDIS_URL: redis://sparkleandspin-redis.default.svc.cluster.local:6379
              NODE_ENV: production
              NPM_CONFIG_PRODUCTION: false

    service:
      main:
        ports:
          http:
            port: 9000

    persistence:
      config:
        type: emptyDir
        enabled: true
        globalMounts:
          - path: /.config/medusa
      cache:
        type: emptyDir
        enabled: true
        globalMounts:
          - path: /app/medusa/.cache
      uploads:
        type: emptyDir
        enabled: true
        globalMounts:
          - path: /app/medusa/uploads

    ingress:
      main:
        enabled: true
        className: nginx
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
