---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app audiobookshelf
  namespace: default
spec:
  path: ./kubernetes/apps/default/audiobookshelf/app
  targetNamespace: default
  sourceRef:
    kind: GitRepository
    name: flux-cluster
    namespace: flux-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  prune: true
  wait: false
  interval: 10m
  dependsOn:
    - name: external-secrets-stores
      namespace: kube-system
    - name: volsync
      namespace: flux-system
  postBuild:
    substitute:
      APP: *app
  components:
    - ../../../../components/volsync
