---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: sparkleandspin-backend
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: sparkleandspin-backend-secret
    template:
      engineVersion: v2
      data:
        DATABASE_URL: |-
          postgres://{{ .DB_USER }}:{{ .DB_PASS }}@postgres16-rw.default.svc.cluster.local/sparkleandspin
        JWT_SECRET: "{{ .JWT_SECRET }}"
        COOKIE_SECRET: "{{ .COOKIE_SECRET }}"

        S3_URL: "{{ .S3_URL }}"
        S3_BUCKET: "{{ .S3_BUCKET }}"
        S3_REGION: "{{ .S3_REGION }}"
        S3_ACCESS_KEY_ID: "{{ .S3_ACCESS_KEY_ID }}"
        S3_SECRET_ACCESS_KEY: "{{ .S3_SECRET_ACCESS_KEY }}"
        S3_PREFIX: "{{ .S3_PREFIX }}"

        INIT_POSTGRES_DBNAME: sparkleandspin
        INIT_POSTGRES_HOST: postgres16-rw.default.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .DB_USER }}"
        INIT_POSTGRES_PASS: "{{ .DB_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: sparkleandspin
    - extract:
        key: cloudnative-pg
