---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sparkleandspin-backend
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    defaultPodOptions:
      imagePullSecrets:
        - name: ghcr-imagepullsecret

    controllers:
      sparkleandspin-backend:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16
            envFrom: &envFrom
              - secretRef:
                  name: sparkleandspin-backend-secret
        containers:
          app:
            image:
              repository: ghcr.io/wipash/sparkleandspin-backend
              tag: latest
              pullPolicy: Always
            envFrom: *envFrom
            env:
              DATABASE_TYPE: postgres
              STORE_CORS: http://localhost:8000,http://localhost:7001,https://${SECRET_DOMAIN_SPARKLE}
              ADMIN_CORS: /mcgrath\.nz$/
              REDIS_URL: redis://dragonfly.database.svc.cluster.local:6379/6
              MEDUSA_FF_PRODUCT_CATEGORIES: "true"
              NODE_ENV: production
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"

    service:
      app:
        controller: sparkleandspin-backend
        ports:
          http:
            port: 9000

    persistence:
      config:
        type: emptyDir
        enabled: true
        globalMounts:
          - path: /.config/medusa
      cache:
        type: emptyDir
        enabled: true
        globalMounts:
          - path: /app/medusa/.cache
      uploads:
        type: emptyDir
        enabled: true
        globalMounts:
          - path: /app/medusa/uploads
      tmp:
        type: emptyDir
        enabled: true
        globalMounts:
          - path: /tmp

    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.mcgrath.nz"
        hosts:
          - host: &host "api.${SECRET_DOMAIN_SPARKLE}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
