---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: smokeping
  namespace: default
spec:
  chartRef:
    kind: OCIRepository
    name: smokeping
  interval: 1h
  values:
    controllers:
      smokeping:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-config:
            image:
              repository: docker.io/library/alpine
              tag: 3.23.2
            command: ["/bin/sh", "-c"]
            args: ["cp /configmap/* /config"]
        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/smokeping
              tag: 2.9.0
            env:
              TZ: Pacific/Auckland
              PUID: "1000"
              PGID: "1000"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 192Mi

    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: 80

    ingress:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            url: https://ping.mcgrath.nz/smokeping/
        className: external
        hosts:
          - host: "ping.mcgrath.nz"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        type: emptyDir
      data:
        existingClaim: "{{ .Release.Name }}"
      configmap:
        type: configMap
        name: smokeping-configmap
