---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app valheim
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 10m

  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
    controllers:
      valheim:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: lloesche/valheim-server
              tag: latest@sha256:b97da1038714e5156cf28d042422a1c5af41e03189572025e615bde61395c678

            env:
              TZ: Pacific/Auckland
              SERVER_NAME: smellheim
              WORLD_NAME: smellheim
              SERVER_PORT: 2456 #udp
              SERVER_PUBLIC: false
              UPDATE_CRON: "*/60 * * * *"

            envFrom:
              - secretRef:
                  name: valheim-secret
              - configMapRef:
                  name: valheimplus-config

            resources:
              requests:
                memory: 4Gi
                cpu: 200m
              limits:
                memory: 7Gi

    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "${SVC_VALHEIM_ADDR:=temp}"
        ports:
          steam1:
            port: 2456
            protocol: UDP
          steam2:
            port: 2457
            protocol: UDP

    persistence:
      config:
        existingClaim: *app
