---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./external-dns/ks.yaml
  - ./nginx/ks.yaml
  # - ./tailscale-gateway/ks.yaml
  # Standard Resources
  - ./cloudflared/ks.yaml
  - ./cloudflare-ddns/ks.yaml
  - ./tailscale-operator/ks.yaml
  - ./e1000e-fix/ks.yaml
