---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: hp1.k8s.mcgrath.nz
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "e4:1d:a1:99:06:78"
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net1
selector:
  match: mac(link.permanent_addr) == "50:65:f3:49:54:a3"
---
apiVersion: v1alpha1
kind: LinkConfig
name: net0
up: true
mtu: 1500
addresses:
  - address: 10.0.16.133/24
  - address: 172.20.0.2/24
routes:
  # Omitting destination selects the IPv4 default route.
  - gateway: 10.0.16.1
---
apiVersion: v1alpha1
kind: LinkConfig
name: net1
up: true
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: 10.0.16.132
link: net0
