---
machine:
  network:
    hostname: hp2.k8s.mcgrath.nz
    interfaces:
      - deviceSelector:
          hardwareAddr: "50:65:f3*"
        addresses:
          - 10.0.16.135/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.16.1
        mtu: 1500
        dhcp: false
        vip:
          ip: 10.0.16.132
      - deviceSelector:
          hardwareAddr: "e4:1d:a*"
        dhcp: false
        addresses:
          - 172.20.0.3/24
