---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app vector-aggregator
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    initContainers:
      init-geoip:
        image: ghcr.io/maxmind/geoipupdate:v6.1.0
        imagePullPolicy: IfNotPresent
        env:
          - { name: GEOIPUPDATE_EDITION_IDS, value: GeoLite2-City }
          - { name: GEOIPUPDATE_FREQUENCY, value: "0" }
          - { name: GEOIPUPDATE_VERBOSE, value: "true" }
        envFrom:
          - secretRef:
              name: vector-aggregator-secret
        volumeMounts:
          - { name: geoip, mountPath: /usr/share/GeoIP }
    controller:
      replicas: 2
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      # https://github.com/vectordotdev/vector/issues/6715
      repository: ghcr.io/onedr0p/vector
      tag: 0.34.1-debian
    args: ["--config", "/etc/vector/vector.yaml"]
    service:
      main:
        type: LoadBalancer
        externalIPs: ["${SVC_VECTOR_AGGREGATOR_ADDR}"]
        # externalTrafficPolicy: Local
        ports:
          http:
            port: 8686
          kubernetes-logs:
            enabled: true
            port: 6000
          opnsense-logs:
            enabled: true
            port: 6001
          journald-logs:
            enabled: true
            port: 6002
          talos-kernel:
            enabled: true
            port: 6050
            protocol: UDP
          talos-service:
            enabled: true
            port: 6051
            protocol: UDP
    persistence:
      config:
        enabled: true
        type: configMap
        name: vector-aggregator-configmap # overriden by kustomizeconfig
        subPath: vector.yaml
        mountPath: /etc/vector/vector.yaml
        readOnly: true
      data:
        enabled: true
        type: emptyDir
        mountPath: /vector-data-dir
      geoip:
        enabled: true
        type: emptyDir
        mountPath: /usr/share/GeoIP
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
