---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cross-seed
spec:
  chartRef:
    kind: OCIRepository
    name: cross-seed
  interval: 1h
  dependsOn:
    - name: qbittorrent
      namespace: default
  values:
    controllers:
      cross-seed:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/cross-seed/cross-seed
              tag: 6.13.6@sha256:e2bf5b593e4e7d699e6242423ad7966190cd52ba8eefafdfdbb0cb5b0b609b96
            args:
              - daemon
              - -v
            env:
              CROSS_SEED_PORT: &port 80
              TZ: Pacific/Auckland
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [65537]
    service:
      app:
        ports:
          http:
            port: *port
    persistence:
      config:
        existingClaim: cross-seed
      secret-file:
        type: secret
        name: "{{ .Release.Name }}-secret"
        globalMounts:
          - path: /config/config.js
            subPath: config.js
      media:
        type: nfs
        server: 172.20.0.1
        path: /volume1/Media
        globalMounts:
          - path: /media/Downloads
            subPath: Downloads
      tmp:
        type: emptyDir
