---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: tailscale-operator
      version: 1.90.9
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: tailscale
        namespace: flux-system
  values:
    operatorConfig:
      hostname: tailscale-operator
      image:
        repository: ghcr.io/tailscale/k8s-operator
        tag: v1.90.8@sha256:693e3c5a466010b25e1f8d3cd601355bbcc8064f83df8627f80fefa68ebe3f5f
    proxyConfig:
      image:
        repository: ghcr.io/tailscale/tailscale
        tag: v1.90.8@sha256:4dacf554cf34e84c15fb816aa68fb3428993c3d27feeafb86a9b3eb94248c40f
    apiServerProxyConfig:
      mode: noauth
