---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ccattendance
spec:
  chartRef:
    kind: OCIRepository
    name: ccattendance
  interval: 1h
  values:
    controllers:
      ccattendance:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/wipash/creativecollabreports
              tag: main@sha256:bb9211f47897fc67c72f80f9b208903bcfafcd365268826e6d62a985b03cca64
            env:
              TZ: Pacific/Auckland
              NODE_ENV: production
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    ingress:
      app:
        className: external
        hosts:
          - host: cc.mcgrath.nz
            paths:
              - path: /
                service:
                  identifier: app
                  port: http


    service:
      app:
        ports:
          http:
            port: 3000
    persistence:
      tmp:
        type: emptyDir
