---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: foundry-browser
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
    image:
      # https://github.com/filebrowser/filebrowser/issues/1571
      repository: ghcr.io/onedr0p/filebrowser
      tag: v2.27.0
    env:
      TZ: Pacific/Auckland
      FB_DATABASE: "/config/filebrowser.db"
      FB_ROOT: "/foundry/Data"
      FB_LOG: "stdout"
      FB_NOAUTH: "true"
    podSecurityContext:
      runAsUser: 421
      runAsGroup: 421
      fsGroup: 421
      fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        ports:
          http:
            port: &port 80
    probes:
      liveness: &probes
        enabled: true
        custom: true
        spec:
          httpGet:
            path: /health
            port: *port
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness: *probes
      startup:
        enabled: false
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          auth.home.arpa/enabled: "true"
          external-dns/is-public: "true"
          external-dns.alpha.kubernetes.io/target: "tunnel.mcgrath.nz"
          hajimari.io/icon: mdi:folder-play-outline
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Foundry Browser
          gethomepage.dev/icon: mdi-folder-play-outline
          gethomepage.dev/group: Apps
        hosts:
          - host: &host "{{ .Release.Name }}.mcgrath.nz"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    volumeClaimTemplates:
      - name: config
        mountPath: /config
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block
    persistence:
      foundry:
        enabled: true
        existingClaim: config-foundryvtt-0
        mountPath: /foundry
    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - foundryvtt
            topologyKey: kubernetes.io/hostname
    resources:
      requests:
        cpu: 15m
        memory: 64M
      limits:
        cpu: 16m
        memory: 500M
