---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wordpress-3
spec:
  chart:
    spec:
      # renovate: registryUrl=https://groundhog2k.github.io/helm-charts/
      chart: wordpress
      version: 0.13.0
      sourceRef:
        kind: HelmRepository
        name: groundhog2k
        namespace: flux-system
      interval: 5m
  interval: 15m
  maxHistory: 2
  timeout: 20m
  install:
    remediation:
      retries: 300
  upgrade:
    remediation:
      retries: 300
  values:
    image:
      repository: wordpress
      tag: 6.7.1-apache
    externalDatabase:
      host: ${SECRET_MARIADB_SERVER}
      name: ${SECRET_WP_3_MARIADB_DB}
      user: ${SECRET_WP_3_MARIADB_USER}
      password: ${SECRET_WP_3_MARIADB_PASS}
    ingress:
      enabled: true
      className: external
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-production"
        external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
      hosts:
        - host: "${SECRET_WP_3_DOMAIN}"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - "${SECRET_WP_3_DOMAIN}"
    storage:
      persistentVolumeClaimName: wordpress-3-nfs
    mariadb:
      enabled: false
    dnsConfig:
      options:
        - name: ndots
          value: "1"
