---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: excalidraw
spec:
  chartRef:
    kind: OCIRepository
    name: excalidraw
  interval: 1h
  values:
    controllers:
      excalidraw:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/wipash/excalidraw-collab
              tag: 0.18.0@sha256:722aeeab22b578b4a06b4348b60e4948651749032146a4db31ccf71d13c62ea6
              pullPolicy: IfNotPresent
            env:
              TZ: Pacific/Auckland
              COLLAB_ADDR: draw-room.mcgrath.nz
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 5m
                memory: 10Mi
              limits:
                memory: 50Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        ports:
          http:
            port: 8080
    ingress:
      app:
        className: external
        hosts:
          - host: &host draw.mcgrath.nz
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts: [*host]
    persistence:
      tmp:
        type: emptyDir
