---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: node-red
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: docker.io/nodered/node-red
      tag: 3.1.5
    env:
      TZ: "${TIMEZONE}"
      NODE_RED_ENABLE_SAFE_MODE: "false"
      NODE_RED_ENABLE_PROJECTS: "true"
    envFrom:
      - secretRef:
          name: node-red-secret
    service:
      main:
        ports:
          http:
            port: 1880
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          hajimari.io/icon: mdi:sitemap
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Node-RED
          gethomepage.dev/icon: mdi-sitemap
          gethomepage.dev/group: Home
        hosts:
          - host: &host "nodered.mcgrath.nz"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
    volumeClaimTemplates:
      - name: config
        mountPath: /data
        accessMode: ReadWriteOnce
        size: 2Gi
        storageClass: ceph-block
    resources:
      requests:
        cpu: 15m
        memory: 127M
      limits:
        cpu: 35m
        memory: 222M
