---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shlink-web
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      shlink:
        replicas: 1
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 2
          surge: 0
        annotations:
          secret.reloader.stakater.com/reload: shlink-secret
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
        containers:
          app:
            image:
              repository: ghcr.io/shlinkio/shlink-web-client
              tag: 4.1.2@sha256:bd0dad6321220398fecbc7cfb2eb438c32f466747d7a39e51cccf3747b6f3e03
            env:
              SHLINK_SERVER_URL: "https://ln.${SECRET_DOMAIN_2}"
            envFrom:
              - secretRef:
                  name: shlink-secret
            resources:
              requests:
                cpu: 15m
              limits:
                memory: 64M
    service:
      app:
        controller: shlink
        ports:
          http:
            port: 8080
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host shlink.mcgrath.nz
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls: [hosts: [*host]]
