---
clusterName: cluster-0

talosVersion: v1.4.6
kubernetesVersion: v1.27.1
endpoint: https://cluster-0.${domainName}:6443

cniConfig:
  name: none

allowSchedulingOnMasters: true
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12

additionalApiServerCertSans:
  - ${clusterEndpointIP}

additionalMachineCertSans:
  - ${clusterEndpointIP}
  - cluster-0.${domainName}

nodes:
  - hostname: hp1.${domainName}
    ipAddress: 10.0.16.133
    schematic:
      customization:
        extraKernelArgs:
          - "talos.logging.kernel=udp://172.16.10.5:6050/"
          - "cpufreq.default_governor=performance"
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/i915-ucode
    controlPlane: true
    installDisk: /dev/sda
    disableSearchDomain: true
    nameservers:
      - 10.0.16.4
    networkInterfaces:
      - interface: eth0
        vip:
          ip: ${clusterEndpointIP}
        addresses:
          - 10.0.16.133/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.16.1
      - interface: eth1
        addresses:
          - 127.20.0.2/24
  - hostname: hp2.${domainName}
    ipAddress: 10.0.16.135
    schematic:
      customization:
        extraKernelArgs:
          - "talos.logging.kernel=udp://172.16.10.5:6050/"
          - "cpufreq.default_governor=performance"
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/i915-ucode
    controlPlane: true
    installDisk: /dev/sda
    disableSearchDomain: true
    nameservers:
      - 10.0.16.4
    networkInterfaces:
      - interface: eth0
        vip:
          ip: ${clusterEndpointIP}
        addresses:
          - 10.0.16.135/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.16.1
      - interface: eth1
        addresses:
          - 127.20.0.3/24
  - hostname: hp3.${domainName}
    ipAddress: 10.0.16.136
    schematic:
      customization:
        extraKernelArgs:
          - "talos.logging.kernel=udp://172.16.10.5:6050/"
          - "cpufreq.default_governor=performance"
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/i915-ucode
    controlPlane: true
    installDisk: /dev/sda
    disableSearchDomain: true
    nameservers:
      - 10.0.16.4
    networkInterfaces:
      - interface: eth0
        vip:
          ip: ${clusterEndpointIP}
        addresses:
          - 10.0.16.136/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.16.1
      - interface: eth1
        addresses:
          - 127.20.0.4/24


controlPlane:
  patches:
    # - "@./patches/customInstaller-patch.yaml" # Not needed when running stock Talos
    - "@./patches/clusterMetricsExtraArgs-patch.yaml"
    # - "@./patches/unprivilegedPorts-patch.yaml" # Included in config below
    - "@./patches/removeAdmissionControl-patch.yaml"
    # - "@./patches/local-path-patch.yaml" # Included in config below
    - |-
      cluster:
        allowSchedulingOnMasters: true
        discovery:
          registries:
            service:
              disabled: true
        proxy:
          disabled: true

      machine:
        files:
          - content: |
              [plugins."io.containerd.grpc.v1.cri"]
                enable_unprivileged_ports = true
                enable_unprivileged_icmp = true
            path: /etc/cri/conf.d/20-customization.part
            op: create
        kubelet:
          extraArgs:
            feature-gates: CronJobTimeZone=true,GracefulNodeShutdown=true,NewVolumeManagerReconstruction=false
            rotate-server-certificates: "true"
          nodeIP:
            validSubnets:
              - 10.0.16.0/24
          extraConfig:
            maxPods: 150

        logging:
          destinations:
            - endpoint: "udp://172.16.10.5:6051/"
              format: json_lines
        ## Disabled to rely on DNS instead
        network:
          extraHostEntries:
            - ip: 10.0.16.132
              aliases:
                - cluster-0.${domainName}
        sysctls:
          fs.inotify.max_user_watches: "1048576"
          fs.inotify.max_user_instances: "8192"
          # For CloudflareD QUIC, sets maximum receive buffer size to roughly 2.5 MB.
          net.core.rmem_max: 2500000
        time:
          disabled: false
          servers:
            - 0.nz.pool.ntp.org
            - 1.nz.pool.ntp.org
            - 2.nz.pool.ntp.org
            - 3.nz.pool.ntp.org

    # Enable KubePrism
    - |-
      machine:
        features:
          kubePrism:
            enabled: true
            port: 7445

    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - system-controllers
