# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tailscale-gateway
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/tailscale/tailscale
              tag: v1.72.1
            env:
              TZ: ${TIMEZONE}
              NO_AUTOUPDATE: "true"
              # SA_NAME: tailscale-gateway
              TS_USERSPACE: true
              TS_KUBE_SECRET: ""
              TS_EXTRA_ARGS: --advertise-exit-node
              TS_TAILSCALED_EXTRA_ARGS: --debug=0.0.0.0:2000
              TS_ROUTES: "${NETWORK_K8S_POD_CIDR},${NETWORK_BGP_SVC_CIDR},10.0.16.0/24,10.0.10.0/24"
              TS_STATE_DIR: /tmp
              # PORT: &port ${TAILNET_PUBLIC_PORT}
              # TS_HOSTNAME: "tailscale-k8s-gateway"
              # TS_SOCKET: /var/run/tailscale/tailscaled.sock
            envFrom:
              - secretRef:
                  name: tailscale-gateway-secret
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 256M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
    persistence:
      cache:
        type: emptyDir
        globalMounts:
          - path: /.cache
      tmp:
        type: emptyDir
    service:
      main:
        ports:
          http:
            port: 2000
      # tailnet:
      #   controller: main
      #   type: LoadBalancer
      #   annotations:
      #     io.cilium/lb-ipam-ips: ${TAILSCALE_LB_IP}
      #   labels:
      #     io.cilium/lb-ipam-layer2: "true"
      #   ports:
      #     tailnet-udp:
      #       enabled: true
      #       port: *port
      #       protocol: UDP
    # serviceAccount:
    #   name: tailscale-gateway
    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /debug/metrics
            interval: 1m
            scrapeTimeout: 30s
