---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app headscale
  namespace: flux-system
spec:
  path: ./kubernetes/main/apps/default/headscale/app
  targetNamespace: default
  sourceRef:
    kind: GitRepository
    name: flux-cluster
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  prune: true
  wait: false
  interval: 10m
  dependsOn:
    - name: volsync
  postBuild:
    substitute:
      APP: *app
      GATUS_PATH: /health
