---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: changedetection
spec:
  chartRef:
    kind: OCIRepository
    name: changedetection
  interval: 1h
  values:
    controllers:
      changedetection:
        containers:
          app:
            image:
              repository: ghcr.io/dgtlmoon/changedetection.io
              tag: 0.52.1@sha256:63590d9befca5577e921c04a6155361e6a4f6cf4578acb289374d73bee0021e7
            env:
              TZ: Pacific/Auckland
              PORT: &port 5000
              USE_X_SETTINGS: 1
              PLAYWRIGHT_DRIVER_URL: ws://localhost:3000/?stealth=1&--disable-web-security=true&--user-data-dir=~/browserless-cache-123
            # securityContext:
            #   allowPrivilegeEscalation: false
            #   capabilities: { drop: ["ALL"] }
            #   readOnlyRootFilesystem: true

          browser:
            image:
              repository: mirror.gcr.io/browserless/chrome
              # renovate: datasource=docker depName=docker.io/browserless/chrome
              tag: latest@sha256:57d19e414d9fe4ae9d2ab12ba768c97f38d51246c5b31af55a009205c136012f
              pullPolicy: IfNotPresent
            env:
              SCREEN_WIDTH: "1920"
              SCREEN_HEIGHT: "1024"
              SCREEN_DEPTH: "16"
              ENABLE_DEBUGGER: "false"
              PREBOOT_CHROME: "true"
              CONNECTION_TIMEOUT: "300000"
              MAX_CONCURRENT_SESSIONS: "10"
              CHROME_REFRESH_TIME: "600000"
              DEFAULT_BLOCK_ADS: "true"
              DEFAULT_STEALTH: "true"
              DOWNLOAD_DIR: /downloads
              DATA_DIR: /profile

            # securityContext:
            #   allowPrivilegeEscalation: false

    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: 1000
    #     runAsGroup: 1000
    #     fsGroup: 1000
    #     fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: changedetection
        ports:
          http:
            port: *port

    ingress:
      app:
        className: internal
        hosts:
          - host: "{{ .Release.Name }}.mcgrath.nz"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          changedetection:
            app:
              - path: /datastore
                subPath: changedetection
            browser:
              - path: /downloads
                subPath: downloads
              - path: /profile
                subPath: profile

      tmp:
        type: emptyDir
