---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hoarder
spec:
  chartRef:
    kind: OCIRepository
    name: hoarder
  interval: 1h
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      hoarder:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/karakeep-app/karakeep
              tag: latest@sha256:f91d065d97104f28a02280ca46721c51670e24493604425012520cbb34c6a001
            env:
              TZ: Pacific/Auckland
              BROWSER_WEB_URL: http://hoarder-chrome.default.svc.cluster.local:9222
              CRAWLER_DOWNLOAD_BANNER_IMAGE: true
              CRAWLER_ENABLE_ADBLOCKER: true
              CRAWLER_STORE_SCREENSHOT: true
              DATA_DIR: /data
              DISABLE_SIGNUPS: false
              DISABLE_PASSWORD_AUTH: true
              MEILI_ADDR: http://hoarder-meilisearch.default.svc.cluster.local:7700
              MEILI_MASTER_KEY:
                valueFrom:
                  secretKeyRef:
                    name: hoarder-secret
                    key: meilisearch_master_key
              NEXTAUTH_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: hoarder-secret
                    key: encryption_key
              NEXTAUTH_URL: https://hoarder.mcgrath.nz
              DISABLE_NEW_RELEASE_CHECK: true
              OAUTH_CLIENT_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: hoarder-secret
                    key: oidc_client_secret
              OAUTH_CLIENT_ID: hoarder
              OAUTH_WELLKNOWN_URL: https://auth.mcgrath.nz/.well-known/openid-configuration
              OAUTH_PROVIDER_NAME: Authelia
              OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: true
              OPENAI_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: hoarder-secret
                    key: openai_api_key
              INFERENCE_ENABLE_AUTO_TAGGING: true
              INFERENCE_ENABLE_AUTO_SUMMARIZATION: true
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 1024Mi

      chrome:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: gcr.io/zenika-hub/alpine-chrome
              tag: 124
            env:
              TZ: Pacific/Auckland
            command:
              - chromium-browser
            args:
              - --headless
              - --no-sandbox
              - --disable-gpu
              - --disable-dev-shm-usage
              - --remote-debugging-address=0.0.0.0
              - --remote-debugging-port=9222
              - --hide-scrollbars
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi

      meilisearch:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - hoarder
                  topologyKey: kubernetes.io/hostname
        containers:
          app:
            image:
              repository: docker.io/getmeili/meilisearch
              tag: v1.29.0
            args:
              - /bin/meilisearch
              - --experimental-dumpless-upgrade
            env:
              TZ: Pacific/Auckland
              MEILI_NO_ANALYTICS: true
              MEILI_MASTER_KEY:
                valueFrom:
                  secretKeyRef:
                    name: hoarder-secret
                    key: meilisearch_master_key
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi

    service:
      app:
        controller: hoarder
        ports:
          http:
            port: 3000
      chrome:
        controller: chrome
        ports:
          http:
            port: 9222
      meilisearch:
        controller: meilisearch
        ports:
          http:
            port: 7700

    ingress:
      app:
        className: external
        hosts:
          - host: hoarder.mcgrath.nz
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      data:
        existingClaim: hoarder
        advancedMounts:
          hoarder:
            app:
              - path: /data
                subPath: hoarder

      meilisearch:
        type: persistentVolumeClaim
        suffix: meilisearch
        storageClass: ceph-block
        accessMode: ReadWriteOnce
        size: 1Gi
        advancedMounts:
          meilisearch:
            app:
              - path: /meili_data

      tmp:
        type: emptyDir
        advancedMounts:
          hoarder:
            app:
              - path: /tmp
          chrome:
            app:
              - path: /tmp
          meilisearch:
            app:
              - path: /tmp
