---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sparkleandspin-frontend
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      sparkleandspin-frontend:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/wipash/sparkleandspin-frontend
              tag: latest@sha256:b456bd066e3e280c93f62faf95e06e3298c12978b7c0fe33affcdcad00273719
              pullPolicy: Always
            env:
              TZ: Pacific/Auckland
              STORE_URL: "https://${SECRET_DOMAIN_SPARKLE}/"
              NEXT_PUBLIC_BASE_URL: "https://${SECRET_DOMAIN_SPARKLE}/"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    defaultPodOptions:
      imagePullSecrets:
        - name: ghcr-imagepullsecret
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: sparkleandspin-frontend
        ports:
          http:
            port: 3000
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.mcgrath.nz"
        hosts:
          - host: &host1 "${SECRET_DOMAIN_SPARKLE:=temp}" # Default value to make flux-local work
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
          - host: &host2 "www.${SECRET_DOMAIN_SPARKLE}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: wildcard-tls-sparkle
            hosts:
              - *host1
              - *host2
    persistence:
      cache:
        type: emptyDir
        enabled: true
        globalMounts:
          - path: /app/.next/cache/images
