---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app homebox
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        type: statefulset
        containers:
          main:
            image:
              repository: ghcr.io/hay-kot/homebox
              tag: v0.10.3
            env:
              TZ: Pacific/Auckland
              HBOX_LOG_LEVEL: info
              HBOX_LOG_FORMAT: text
              HBOX_MEB_MAX_UPLOAD_SIZE: 10
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 256M
        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: 1Gi
              storageClass: ceph-block
              globalMounts:
                - path: /config
    service:
      main:
        ports:
          http:
            port: 7745
    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: |
            10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,100.64.0.0/10
          hajimari.io/icon: "devices"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Homebox
          gethomepage.dev/icon: mdi-treasure-chest-outline
          gethomepage.dev/group: Apps

        hosts:
          - host: &host "{{ .Release.Name }}.mcgrath.nz"
            paths:
              - path: "/"
                pathType: "Prefix"
                service:
                  name: main
        tls:
          - hosts:
              - *host
