---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: overseerr
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
    image:
      repository: ghcr.io/sct/overseerr
      tag: 1.33.2
    env:
      TZ: Pacific/Auckland
      LOG_LEVEL: "info"
      PORT: &port 80
    service:
      main:
        ports:
          http:
            port: *port
    dnsConfig:
      options:
        - name: ndots
          value: "1"
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          external-dns/is-public: "true"
          external-dns.alpha.kubernetes.io/target: "tunnel.mcgrath.nz"
          hajimari.io/icon: mdi:eye-circle
        hosts:
          - host: &host overseerr.${SECRET_DOMAIN_2}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
    volumeClaimTemplates:
      - name: config
        mountPath: /app/config
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block
    resources:
      requests:
        cpu: 15m
        memory: 351M
      limits:
        cpu: 16m
        memory: 538M
