---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app wordpress-sparkle
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: wordpress
      tag: 6.4.3
    envFrom:
      - secretRef:
          name: wordpress-sparkle-secret
    service:
      main:
        ports:
          http:
            port: &port 80
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.mcgrath.nz"
        hosts:
          - host: &host1 "${SECRET_WP_1_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
          - host: &host2 "www.${SECRET_WP_1_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host1
              - *host2
            secretName: "wordpress-sparkle-tls"
    # probes:
    #   liveness: &probes
    #     enabled: true
    #     custom: true
    #     spec:
    #       httpGet:
    #         path: /healthcheck
    #         port: *port
    #       initialDelaySeconds: 0
    #       periodSeconds: 10
    #       timeoutSeconds: 1
    #       failureThreshold: 3
    #   readiness: *probes
    #   startup:
    #     enabled: false
    persistence:
      php-config-file:
        enabled: true
        type: configMap
        name: wordpress-sparkle-php-configmap
        subPath: uploads.ini
        mountPath: /usr/local/etc/php/conf.d/uploads.ini
        readOnly: true
    volumeClaimTemplates:
      - name: config
        mountPath: /var/www/html
        accessMode: ReadWriteOnce
        size: 10Gi
        storageClass: ceph-block
    resources:
      requests:
        cpu: 15m
      limits:
        memory: 500M
