---
apiVersion: v1
kind: ConfigMap
metadata:
  name: librechat-configmap
data:

  #==================================================#
  #                      App                         #
  #==================================================#
  NO_INDEX: "true"

  #=============#
  # Permissions #
  #=============#
  UID: "568"
  GID: "568"

  #==================================================#
  #                      Search                      #
  #==================================================#
  SEARCH: "true"
  MEILI_NO_ANALYTICS: "true"
  MEILI_HOST: http://127.0.0.1:7700

  #==================================================#
  #                      RAG                         #
  #==================================================#
  RAG_PORT: "8000"
  RAG_API_URL: "http://127.0.0.1:8000"


  LITELLM_MODE: "production"

  # REDIS_HOST: dragonfly.database.svc.cluster.local
  # REDIS_PORT: "6379"
  # REDIS_DB: "7"

  #============#
  # Plugins    #
  #============#

  DEBUG_PLUGINS: "true"

  #========================#
  # Moderation             #
  #========================#

  OPENAI_MODERATION: "false"
  # OPENAI_MODERATION_REVERSE_PROXY=

  BAN_VIOLATIONS: "true"
  BAN_DURATION: 1000 * 60 * 60 * 2
  BAN_INTERVAL: "20"

  LOGIN_VIOLATION_SCORE: "1"
  REGISTRATION_VIOLATION_SCORE: "1"
  CONCURRENT_VIOLATION_SCORE: "1"
  MESSAGE_VIOLATION_SCORE: "1"
  NON_BROWSER_VIOLATION_SCORE: "20"

  LOGIN_MAX: "7"
  LOGIN_WINDOW: "5"
  REGISTER_MAX: "5"
  REGISTER_WINDOW: "60"

  LIMIT_CONCURRENT_MESSAGES: "true"
  CONCURRENT_MESSAGE_MAX: "2"

  LIMIT_MESSAGE_IP: "true"
  MESSAGE_IP_MAX: "40"
  MESSAGE_IP_WINDOW: "1"

  LIMIT_MESSAGE_USER: "false"
  MESSAGE_USER_MAX: "40"
  MESSAGE_USER_WINDOW: "1"

  ILLEGAL_MODEL_REQ_SCORE: "5"


  #========================#
  # Balance                #
  #========================#

  CHECK_BALANCE: "false"

  #========================#
  # Registration and Login #
  #========================#

  ALLOW_EMAIL_LOGIN: "true"
  ALLOW_REGISTRATION: "true"
  ALLOW_SOCIAL_LOGIN: "false"
  ALLOW_SOCIAL_REGISTRATION: "false"
  ALLOW_PASSWORD_RESET: "false"
  ALLOW_ACCOUNT_DELETION: "true" # note: enabled by default if omitted/commented out
  ALLOW_UNVERIFIED_EMAIL_LOGIN: "true"

  SESSION_EXPIRY: 1000 * 60 * 15
  REFRESH_TOKEN_EXPIRY: (1000 * 60 * 60 * 24) * 7

  #========================#
  # Shared Links           #
  #========================#

  ALLOW_SHARED_LINKS: "true"
  ALLOW_SHARED_LINKS_PUBLIC: "true"


  #===================================================#
  #                        UI                         #
  #===================================================#

  APP_TITLE: LibreChat
  # CUSTOM_FOOTER: "My custom footer"
  HELP_AND_FAQ_URL: https://librechat.ai
