# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mealie
spec:
  chartRef:
    kind: OCIRepository
    name: mealie
  interval: 1h
  values:
    controllers:
      mealie:
        strategy: Recreate

        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: mealie-secret

        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.10.1
              pullPolicy: IfNotPresent

            env:
              BASE_URL: https://mealie.mcgrath.nz
              ALLOW_SIGNUP: false
              API_DOCS: false
              TZ: Pacific/Auckland
              SMTP_HOST: smtp-relay.default.svc.cluster.local
              SMTP_PORT: 25
              SMTP_AUTH_STRATEGY: NONE
              SMTP_FROM_EMAIL: mealie@mail.mcgrath.nz
              # Default Values
              WORKERS_PER_CORE: 1
              MAX_WORKERS: 1
              WEB_CONCURRENCY: 1

              DB_ENGINE: postgres

              # OIDC
              OIDC_AUTH_ENABLED: "true"
              OIDC_SIGNUP_ENABLED: "true"
              OIDC_CLIENT_ID: mealie
              OIDC_CONFIGURATION_URL: https://auth.mcgrath.nz/.well-known/openid-configuration
              OIDC_REMEMBER_ME: "true"
              OIDC_PROVIDER_NAME: "Authelia"
              OIDC_AUTO_REDIRECT: "true"
              ALLOW_PASSWORD_LOGIN: "false"
              OIDC_ADMIN_GROUP: admin_of_the_lab

            envFrom: *envFrom
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512M

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 911
        runAsGroup: 911
        fsGroup: 911
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: 9000

    ingress:
      app:
        className: internal
        hosts:
          - host: &host "mealie.mcgrath.nz"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/data
      tmp:
        type: emptyDir
