---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: mealie
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: hkotel/mealie
      tag: frontend-v1.0.0beta-5

    env:
      TZ: "${TIMEZONE}"
      mealie_CULTURE: "en_GB"
      mealie_CURRENCY: "NZD"
      mealie_AUTH_CLASS: mealie\Middleware\ReverseProxyAuthMiddleware
      PUID: "1000"
      PGID: "1000"

    service:
      main:
        ports:
          http:
            port: 80

    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          auth.home.arpa/enabled: "true"
          external-dns/is-public: "true"
          external-dns.alpha.kubernetes.io/target: "tunnel.${SECRET_DOMAIN}"
          hajimari.io/icon: cart-variant
        hosts:
          - host: &host "mealie.mcgrath.nz"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
    volumeClaimTemplates:
      - name: config
        accessMode: ReadWriteOnce
        size: 2Gi
        storageClass: ceph-block
    persistence:
      viewcache:
        enabled: true
        type: emptyDir
        mountPath: /config/data/viewcache

    resources:
      requests:
        cpu: 22m
        memory: 164M
      limits:
        memory: 262M
