---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: tailscale-operator
      version: 1.92.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: tailscale
        namespace: flux-system
  values:
    operatorConfig:
      hostname: tailscale-operator
      image:
        repository: ghcr.io/tailscale/k8s-operator
        tag: v1.92.4@sha256:391aa5dc620bdaca8158bc700acbc2a8299561322a8a8257044ff4890c5d3063
    proxyConfig:
      image:
        repository: ghcr.io/tailscale/tailscale
        tag: v1.92.3@sha256:00e029e54305d8d8112db38ceb8817389aefb0d337d428605bf34058f06a971c
    apiServerProxyConfig:
      mode: noauth
