---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hi-events
spec:
  chartRef:
    kind: OCIRepository
    name: hi-events
  interval: 1h
  values:
    controllers:
      hi-events:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
        containers:
          app:
            image:
              repository: ghcr.io/wipash/hi-events
              tag: 1.1.0-beta.2@sha256:609fbe19d8b25073dbee4f7f40f99b04874b978c7af1e6601834eefec56ce47d
            env:
              TZ: Pacific/Auckland
              LOG_CHANNEL: stderr
            envFrom: *envFrom
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 82 # www-data, required for serversideup/php base image
        runAsGroup: 82
        fsGroup: 82
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        ports:
          http:
            port: 8080
    ingress:
      app:
        className: external
        hosts:
          - host: "events.mcgrath.nz"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      storage:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/backend/storage

      laravel-cache:
        type: emptyDir
        globalMounts:
          - path: /app/backend/bootstrap/cache

      htmlpurifier-cache:
        type: emptyDir
        globalMounts:
          - path: /app/backend/vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer

      nginx-data:
        type: emptyDir
        globalMounts:
          - path: /var/lib/nginx

      run:
        type: emptyDir
        globalMounts:
          - path: /var/run

      home-www-data:
        type: emptyDir
        globalMounts:
          - path: /home/www-data

      tmp:
        type: emptyDir
