---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    initContainers:
      01-init-db:
        image: ghcr.io/onedr0p/postgres-initdb:14.8
        imagePullPolicy: IfNotPresent
        envFrom:
          - secretRef:
              name: home-assistant-secret
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/onedr0p/home-assistant
      tag: 2024.2.1@sha256:42c9a659bedd062d3521fdbf482b813745049c7483c6d370cf2d0b622175777f
    env:
      TZ: Pacific/Auckland
      POSTGRES_HOST: 10.0.16.16
      POSTGRES_DB: home_assistant
    envFrom:
      - secretRef:
          name: home-assistant-secret
    service:
      main:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${SVC_HOME_ASSISTANT_ADDR}
        externalTrafficPolicy: Local
        ports:
          http:
            port: 8123
          mdns-tcp:
            enabled: true
            port: 5353
            protocol: TCP
            targetPort: 5353
          mdns-udp:
            enabled: true
            port: 5353
            protocol: UDP
            targetPort: 5353
          sonos:
            enabled: true
            port: 1400
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          external-dns/is-public: "true"
          external-dns.alpha.kubernetes.io/target: "tunnel.${SECRET_DOMAIN}"
          nginx.org/websocket-services: home-assistant
          hajimari.io/icon: mdi:home-assistant
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Home Assistant
          gethomepage.dev/icon: mdi-home-assistant
          gethomepage.dev/group: Home
        hosts:
          - host: &host hass.mcgrath.nz
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
    # volumeClaimTemplates:
    #   - name: config
    #     mountPath: /config
    #     accessMode: ReadWriteOnce
    #     size: 5Gi
    #     storageClass: ceph-block
    persistence:
      config:
        enabled: true
        existingClaim: home-assistant-config-v1
        volumeMounts:
          - name: config
            mountPath: /config
    resources:
      requests:
        cpu: 22m
        memory: 512M
      limits:
        cpu: 53m
        memory: 776M
