---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app netronome
  namespace: &namespace monitoring
spec:
  targetNamespace: *namespace
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: flux-system
    - name: external-secrets-stores
      namespace: kube-system
  components:
    - ../../../../components/volsync
  path: ./kubernetes/apps/monitoring/netronome/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-cluster
    namespace: flux-system
  wait: false
  interval: 1h
  retryInterval: 2m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 100Mi
