---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: foundryvtt
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: felddy/foundryvtt
      tag: release
    env:
      TIMEZONE: Pacific/Auckland
      CONTAINER_CACHE: /data/container_cache
      CONTAINER_PATCHES: /data/container_patches
      #CONTAINER_PRESERVE_CONFIG: "true"
      CONTAINER_VERBOSE: "true"
      FOUNDRY_HOSTNAME: &host "foundry.${SECRET_DOMAIN_2}"
      FOUNDRY_LOCAL_HOSTNAME: *host
      FOUNDRY_MINIFY_STATIC_FILES: "true"
      FOUNDRY_PROTOCOL: "4"
      FOUNDRY_PROXY_PORT: "443"
      FOUNDRY_PROXY_SSL: "true"
      FOUNDRY_WORLD: "menace-under-otari"
      #FOUNDRY_VERSION: "11.292"
      #NODE_DEBUG: "*"
    envFrom:
      - secretRef:
          name: foundryvtt-secret
    service:
      main:
        ports:
          http:
            port: 30000
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          external-dns/is-public: "true"
          external-dns.alpha.kubernetes.io/target: "tunnel.mcgrath.nz"
          hajimari.io/icon: mdi:dice-d20
        hosts:
          - host: *host
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    # podSecurityContext:
    #   runAsUser: 421
    #   runAsGroup: 421
    #   fsGroup: 421
    #   fsGroupChangePolicy: OnRootMismatch
    volumeClaimTemplates:
      - name: config
        mountPath: /data
        accessMode: ReadWriteOnce
        size: 10Gi
        storageClass: ceph-block
    resources:
      requests:
        cpu: 10m
        memory: 1000Mi
      limits:
        memory: 4000Mi
