---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: goldilocks
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: goldilocks
      version: 8.0.1
      sourceRef:
        kind: HelmRepository
        name: fairwinds
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      resources:
        requests:
          cpu: 25m
        limits:
          memory: 200Mi
    dashboard:
      replicaCount: 1
      ingress:
        enabled: true
        ingressClassName: internal
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: |
            10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,100.64.0.0/10
          hajimari.io/icon: mdi:align-vertical-top
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Goldilocks
          gethomepage.dev/icon: mdi-align-vertical-top
          gethomepage.dev/group: Monitoring
          gethomepage.dev/pod-selector: ""
        hosts:
          - host: &host goldilocks.mcgrath.nz
            paths:
              - path: /
                type: Prefix
        tls:
          - hosts:
              - *host
      resources:
        requests:
          cpu: 25m
          memory: 256Mi
        limits:
          memory: 256Mi
