---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cups
spec:
  chartRef:
    kind: OCIRepository
    name: cups
  interval: 1h
  values:
    controllers:
      cups:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/drpsychick/airprint-bridge
              tag: latest@sha256:2ef61854067fabd055b31099749191ec21436dc277a8b0b381b627ce0b33a662
            env:
              TZ: Pacific/Auckland
              CUPS_ADMIN_USER: print
              CUPS_ADMIN_PASSWORD: print
              CUPS_WEBINTERFACE: "yes"
              CUPS_SHARE_PRINTERS: "yes"
              CUPS_REMOTE_ADMIN: "yes"
              CUPS_ACCESS_LOGLEVEL: config
              CUPS_LOGLEVEL: info
              CUPS_ENV_DEBUG: "no"
              CUPS_HOSTNAME: printer.mcgrath.nz

              CUPS_LPADMIN_PRINTER1: "lpadmin -p OfficeLaser -D 'Fuji Xerox DocuPrint CP225/228' -m 'foo2zjs:0/ppd/foo2zjs/Fuji_Xerox-DocuPrint_CM215.ppd' -o PageSize=A4 -o ColorMode=Color -v usb://FUJI%20XEROX/DocuPrint%20CP225/228%20w?serial=301943--CD"
              CUPS_LPADMIN_PRINTER1_ENABLE: cupsenable OfficeLaser
              CUPS_LPADMIN_PRINTER1_ACCEPT: cupsaccept OfficeLaser

              # Hack to run arbitrary commands
              # The init script will eval the content of any variable named CUPS_LPADMIN_PRINTER*
              CUPS_LPADMIN_PRINTERCONFIG1: cupsctl ServerAlias=\*
              CUPS_LPADMIN_PRINTERCONFIG2: cupsctl DefaultEncryption=Never


            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 631
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 512Mi

        pod:
          nodeSelector:
            kubernetes.io/hostname: hp1
            # printer.feature.node.kubernetes.io/docuprint: "true"

    service:
      app:
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          io.cilium/lb-ipam-ips: "172.16.10.14"
          external-dns.alpha.kubernetes.io/hostname: "printer.mcgrath.nz"
        ports:
          http:
            port: *port
          udp:
            port: *port
            protocol: UDP

    ingress:
      app:
        className: internal
        hosts:
          - host: cups.mcgrath.nz
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      dbus:
        type: hostPath
        hostPath: /var/run/dbus
        globalMounts:
          - path: /var/run/dbus
      usb:
        type: hostPath
        hostPath: /dev/bus/usb
        globalMounts:
          - path: /dev/bus/usb
